

<!DOCTYPE html>

<html>

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Yaşam Takımları</title>

    <meta name="description" content="Yasam Takimlari Tanitim">
    <meta name="author" content="Alper Acar">
    <meta name="keywords" content="Yasam, takim, liderlik, kamp, dostluk, iş">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../yasamtakimlari/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../yasamtakimlari/assets/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="../yasamtakimlari/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../yasamtakimlari/assets/css/style.css" rel="stylesheet">
    <link href="../yasamtakimlari/assets/css/responsive.css" rel="stylesheet">
    <link href="../yasamtakimlari/assets/css/colors.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="hero background-overlay">

        <div class="hero-text">
            <h1>Daha iyi bir yaşam için!</h1>
        </div> <!-- /.hero-text -->
        <div class="hero-arrow">
            <a class="scrollTo" href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div><!-- /.hero-arrow -->

    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section section-works text-center">

            <div class="container">

                <h2 class="section-title">Neler mi yapıyoruz?</h2>
                <p class="section-text">Yaşam Takımları olarak liderlik kampları,Yaşam Takımı Seminerleri(YTS), takım buluşmaları gibi birçok etkinlik organize ediyoruz<br>Bunların tek amacı daha iyi yaşamak;dostluk,arkadaşlık ve liderlik ile.</p>

                <div class="multi-item-controls">
                    <a class="left btn carousel-control" href="#threeSlidesSlider" data-slide="next"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    <a class="right btn carousel-control" href="#threeSlidesSlider" data-slide="prev"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div><!-- /.multi-item-controls -->

            </div>

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12">

                        <div class="carousel three-slides-slider multi-item-carousel slide" id="threeSlidesSlider">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-xs-6 col-sm-4">
                                        <img src="../yasamtakimlari/assets/img/slider-1.jpeg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-xs-6 col-sm-4">
                                        <img src="../yasamtakimlari/assets/img/slider-2.jpeg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-xs-6 col-sm-4">
                                        <img src="../yasamtakimlari/assets/img/slider-3.jpeg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item --> <div class="item">
                                    <div class="col-xs-6 col-sm-4">
                                        <img src="../yasamtakimlari/assets/img/slider-4.jpeg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-xs-6 col-sm-4">
                                        <img src="../yasamtakimlari/assets/img/slider-5.jpeg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-xs-6 col-sm-4">
                                        <img src="../yasamtakimlari/assets/img/slider-6.jpeg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                            </div><!-- /.carousel-inner -->
                        </div><!-- /.multi-item-carousel -->

                    </div>

                </div>

            </div>

        </section><!-- /.section-works -->


        @Html.Partial("_counter");


        @Html.Partial("_membersays");

        <section class="site-section-small section-work-with-us yellow-bg text-center">

            <div class="container">

                <p class="section-title-small white-text mb-50">Bir araya gelmek başlangıç, bir arada kalmak ilerleme, birlikte çalışmak başarıdır.</p>
                <a class="btn" href="contact.html">İletişime Geç</a>

            </div>

        </section><!-- /.section-work-with-us -->


    </main><!-- /.site-main -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../yasamtakimlari/assets/js/bootstrap.min.js"></script>
    <script src="../yasamtakimlari/assets/js/jquery.slicknav.min.js"></script>
    <script src="../yasamtakimlari/assets/js/slick.min.js"></script>
    <script src="../yasamtakimlari/assets/js/touchswipe.min.js"></script>
    <script src="../yasamtakimlari/assets/js/skrollr.min.js"></script>
    <script src="../yasamtakimlari/assets/js/jquery.countTo.min.js"></script>
    <script src="../yasamtakimlari/assets/js/script.js"></script>
</body>
</html>
