

<!DOCTYPE html>

<html>

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Yaşam Takımları</title>

    <meta name="description" content="Yasam Takimlari Tanitim">
    <meta name="author" content="Alper Acar">
    <meta name="keywords" content="Yasam, takim, liderlik, kamp, dostluk, iş">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../yasamtakimlari/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../yasamtakimlari/assets/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="../yasamtakimlari/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../yasamtakimlari/assets/css/style.css" rel="stylesheet">
    <link href="../yasamtakimlari/assets/css/responsive.css" rel="stylesheet">
    <link href="../yasamtakimlari/assets/css/colors.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="hero background-overlay">

        <div class="hero-text">
            <h1>Daha iyi bir yaşam için!</h1>
        </div> <!-- /.hero-text -->
        <div class="hero-arrow">
            <a class="scrollTo" href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div><!-- /.hero-arrow -->

    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section section-quote text-center">

            <div class="container">

                <p class="quote">Herkes gibi davranırsan herkes gibi sonuç alırsın.<br>Farklı sonuçlar için farklı davranmak gerekir</p>
                <p class="quote-owner yellow-text">Bünyamin Efe</p>

            </div>

        </section><!-- /.section-quote -->

        @Html.Partial("_smallgallery")

        <section class="site-section-small section-services">
            <div class="container">

                <div class="text-center">

                    <h3 class="section-title">Biriz!</h3>
                    <p class="section-text">Bu alanda çaba gösteren ve bunu başaran tek takımız.</p>

                </div>

                <div class="row">

                    <div class="col-sm-5 col-sm-offset-1 col-xs-6">

                        <div class="service">

                            <div class="service-icon">
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                            </div><!-- /.service-icon -->
                            <div class="service-content">
                                <h4 class="service-title">Doğru Planlama</h4>
                                <p>Tüm etkinliklerimizi doğru ve adil şekilde planlıyoruz<br><br></p>
                            </div><!-- /.service-content -->

                        </div><!-- /.service -->

                        <div class="service">

                            <div class="service-icon">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </div><!-- /.service-icon -->
                            <div class="service-content">
                                <h4 class="service-title">Değiştirilebilir</h4>
                                <p>Hayatımızı ve etkinliklerimizi güzelleştirecek her türlü fikre açığız</p>
                            </div><!-- /.service-content -->

                        </div><!-- /.service -->
                        <div class="service">

                            <div class="service-icon">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div><!-- /.service-icon -->
                            <div class="service-content">
                                <h4 class="service-title">Eşit Mesafe</h4>
                                <p>Hiç bir dini, siyasi, politik vb. kuruluşla alakamız yoktur. Sadece iyi dostluklar kurmak isteyen insanlarız.</p>
                            </div><!-- /.service-content -->

                        </div><!-- /.service -->

                    </div>

                    <div class="col-sm-5 col-xs-6">



                        <div class="service">


                            <div class="yuvarlak_resim">

                                <img src="../yasamtakimlari/assets/img/about-us.jpg" height="325">
                            </div><!-- /.service-content -->

                        </div><!-- /.service -->

                    </div>

                </div>

            </div>

        </section><!-- /.section-services -->

        @Html.Partial("_counter")

        <section class="site-section-small section-team">

            <div class="container">

                <div class="text-center">
                    <h3 class="section-title">Mükemmel Takım</h3>
                    <p class="section-text">Günümüzde insanların en büyük ihtiyacı olan şey : Takım.<br>Bu ihtiyacın farkındayız ve en mükemmel şekilde bu takımları kurmaya çalışıyoruz</p>
                </div>

                <div class="row">

                    <div class="col-md-8 col-md-offset-2">
                        <div class="carousel carousel-sync one-slide-slider slide" id="oneSlideSlider">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-12">
                                        <div class="team-member">
                                            <div class="team-member-img">
                                                <img class="img-carousel" src="../yasamtakimlari/assets/img/employee-1.jpg" alt="">
                                            </div><!-- /.team-member-img -->
                                            <div class="team-member-info">
                                                <h4 class="team-member-name">Bünyamin Efe</h4>
                                                <h5 class="team-member-position">Yaşam Takımları Kurucusu ve Mentoru</h5>
                                                <p class="team-member-text">Yıllardır liderlik üzerinde kendini geliştirmiş ve bir çok kitleye liderlik yapmaktadır.Yaşam Takımları kendisinden çok şey öğrendi ve öğreniyor</p>
                                                <div class="social-links">
                                                    <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="google-plus-bg" href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a class="instagram-bg" href="#"><i class="fa fa-instagram"></i></a>
                                                </div><!-- /.social-links -->
                                            </div><!-- /.team-member-info -->
                                        </div><!-- /.team-member -->
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-sm-12">
                                        <div class="team-member">
                                            <div class="team-member-img">
                                                <img class="img-carousel" src="../yasamtakimlari/assets/img/employee-2.jpg" alt="">
                                            </div><!-- /.team-member-img -->
                                            <div class="team-member-info">
                                                <h4 class="team-member-name">Linda Smith</h4>
                                                <h5 class="team-member-position">Human Resources</h5>
                                                <p class="team-member-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <div class="social-links">
                                                    <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="google-plus-bg" href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a class="instagram-bg" href="#"><i class="fa fa-instagram"></i></a>
                                                </div><!-- /.social-links -->
                                            </div><!-- /.team-member-info -->
                                        </div><!-- /.team-member -->
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-sm-12">
                                        <div class="team-member">
                                            <div class="team-member-img">
                                                <img class="img-carousel" src="../yasamtakimlari/assets/img/employee-3.jpg" alt="">
                                            </div><!-- /.team-member-img -->
                                            <div class="team-member-info">
                                                <h4 class="team-member-name">Matt Ryan</h4>
                                                <h5 class="team-member-position">Coordinator</h5>
                                                <p class="team-member-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <div class="social-links">
                                                    <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="google-plus-bg" href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a class="instagram-bg" href="#"><i class="fa fa-instagram"></i></a>
                                                </div><!-- /.social-links -->
                                            </div><!-- /.team-member-info -->
                                        </div><!-- /.team-member -->
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-sm-12">
                                        <div class="team-member">
                                            <div class="team-member-img">
                                                <img class="img-carousel" src="../yasamtakimlari/assets/img/employee-4.jpg" alt="">
                                            </div><!-- /.team-member-img -->
                                            <div class="team-member-info">
                                                <h4 class="team-member-name">Cindy Bell</h4>
                                                <h5 class="team-member-position">PR Marketing</h5>
                                                <p class="team-member-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <div class="social-links">
                                                    <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="google-plus-bg" href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a class="instagram-bg" href="#"><i class="fa fa-instagram"></i></a>
                                                </div><!-- /.social-links -->
                                            </div><!-- /.team-member-info -->
                                        </div><!-- /.team-member -->
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-sm-12">
                                        <div class="team-member">
                                            <div class="team-member-img">
                                                <img class="img-carousel" src="../yasamtakimlari/assets/img/employee-5.jpg" alt="">
                                            </div><!-- /.team-member-img -->
                                            <div class="team-member-info">
                                                <h4 class="team-member-name">Frank Dawson</h4>
                                                <h5 class="team-member-position">COO</h5>
                                                <p class="team-member-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                <div class="social-links">
                                                    <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="google-plus-bg" href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a class="instagram-bg" href="#"><i class="fa fa-instagram"></i></a>
                                                </div><!-- /.social-links -->
                                            </div><!-- /.team-member-info -->
                                        </div><!-- /.team-member -->
                                    </div>
                                </div><!-- /.item -->
                            </div><!-- /.carousel-inner -->
                        </div><!-- /.carousel -->
                    </div>

                    <div class="col-md-8 col-md-offset-2 hidden-xs">
                        <div class="carousel carousel-sync four-slides-slider multi-item-carousel slide" data-interval="false" id="fourSlidesSlider">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-4 col-md-3">
                                        <img src="../yasamtakimlari/assets/img/employee-2.jpg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-sm-4 col-md-3">
                                        <img src="../yasamtakimlari/assets/img/employee-3.jpg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-sm-4 col-md-3">
                                        <img src="../yasamtakimlari/assets/img/employee-4.jpg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-sm-4 col-md-3">
                                        <img src="../yasamtakimlari/assets/img/employee-5.jpg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="col-sm-4 col-md-3">
                                        <img src="../yasamtakimlari/assets/img/employee-1.jpg" alt="" class="img-carousel">
                                    </div>
                                </div><!-- /.item -->
                            </div><!-- /.carousel-inner -->
                        </div><!-- /.multi-item-carousel -->
                    </div>

                    <div class="col-md-12">

                        <div class="multi-item-controls text-center">
                            <a href="#fourSlidesSlider" class="left btn btn-gray-border carousel-control" data-slide="prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a href="#fourSlidesSlider" class="right btn btn-gray-border carousel-control" data-slide="next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div><!-- /.multi-item-controls -->

                    </div>

                </div>

            </div>

        </section><!-- /.section-team -->

        <section class="site-section-small section-clients">

            <div class="container">

                <h3 class="section-title text-center mb-120">Takım Arkadaşlarımız Ne Diyor?</h3>

                <div class="row">

                    <div class="testimonials">

                        <div class="col-md-6">

                            <div class="testimonial">
                                <div class="testimonial-content testimonial-1">
                                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                                    <div class="testimonial-owner">
                                        <p>Jennifer Frank</p>
                                        <p class="yellow-text italic-text">Owner of Company</p>
                                    </div><!-- /.testimonial-owner -->
                                </div><!-- /.testimonial-content -->
                            </div><!-- /.testimonial -->

                        </div>

                        <div class="col-md-6">

                            <div class="testimonial">
                                <div class="testimonial-content testimonial-2">
                                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                                    <div class="testimonial-owner">
                                        <p>Frank Dawson</p>
                                        <p class="yellow-text italic-text">Owner of Company</p>
                                    </div><!-- /.testimonial-owner -->
                                </div><!-- /.testimonial-content -->
                            </div><!-- /.testimonial -->

                        </div>

                        <div class="col-md-6">

                            <div class="testimonial">
                                <div class="testimonial-content testimonial-1">
                                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                                    <div class="testimonial-owner">
                                        <p>Linda Smith</p>
                                        <p class="yellow-text italic-text">Owner of Company</p>
                                    </div><!-- /.testimonial-owner -->
                                </div><!-- /.testimonial-content -->
                            </div><!-- /.testimonial -->

                        </div>

                        <div class="col-md-6">

                            <div class="testimonial">
                                <div class="testimonial-content testimonial-2">
                                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                                    <div class="testimonial-owner">
                                        <p>John Dawson</p>
                                        <p class="yellow-text italic-text">Owner of Company</p>
                                    </div><!-- /.testimonial-owner -->
                                </div><!-- /.testimonial-content -->
                            </div><!-- /.testimonial -->

                        </div>

                        <div class="col-md-6">

                            <div class="testimonial">
                                <div class="testimonial-content testimonial-1">
                                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                                    <div class="testimonial-owner">
                                        <p>Jane Smith</p>
                                        <p class="yellow-text italic-text">Owner of Company</p>
                                    </div><!-- /.testimonial-owner -->
                                </div><!-- /.testimonial-content -->
                            </div><!-- /.testimonial -->

                        </div>

                        <div class="col-md-6">

                            <div class="testimonial">
                                <div class="testimonial-content testimonial-2">
                                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                                    <div class="testimonial-owner">
                                        <p>Matt Ryan</p>
                                        <p class="yellow-text italic-text">Owner of Company</p>
                                    </div><!-- /.testimonial-owner -->
                                </div><!-- /.testimonial-content -->
                            </div><!-- /.testimonial -->

                        </div>

                    </div><!-- /.testimonials -->

                </div>

            </div>

        </section><!-- /.section-clients -->

        <section class="site-section-small section-work-with-us yellow-bg text-center">

            <div class="container">

                <p class="section-title-small white-text mb-50">Bir araya gelmek başlangıç, bir arada kalmak ilerleme, birlikte çalışmak başarıdır.</p>
                <a class="btn" href="contact.html">İletişime Geç</a>

            </div>

        </section><!-- /.section-work-with-us -->

        <section class="social-networks">

            <div class="container-fluid">

                <div class="row">

                    <a class="white-text black-bg instagram-bg" href="https://instagram.com/yasamtakimlari?igshid=11o4wtxb7r0ot"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a class="white-text gray-bg message-bg" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>

            </div>

        </section><!-- /.social-networks -->

    </main><!-- /.site-main -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../yasamtakimlari/assets/js/bootstrap.min.js"></script>
    <script src="../yasamtakimlari/assets/js/jquery.slicknav.min.js"></script>
    <script src="../yasamtakimlari/assets/js/slick.min.js"></script>
    <script src="../yasamtakimlari/assets/js/touchswipe.min.js"></script>
    <script src="../yasamtakimlari/assets/js/skrollr.min.js"></script>
    <script src="../yasamtakimlari/assets/js/jquery.countTo.min.js"></script>
    <script src="../yasamtakimlari/assets/js/script.js"></script>
</body>
</html>
