
<section class="site-section-small section-counters text-center">

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-3 col-xs-6 counter-line">
                <h4 class="small-title">Bardak Çay</h4>
                <p class="counter" data-to="12560" data-speed="5000">12560</p>
            </div><!-- /.counter-item -->

            <div class="col-sm-3 col-xs-6 counter-line">
                <h4 class="small-title">Mutlu Saat</h4>
                <p class="counter" data-to="426" data-speed="5000">426</p>
            </div><!-- /.counter-item -->

            <div class="col-sm-3 col-xs-6 counter-line">
                <h4 class="small-title">Tamamlanan Etkinlik</h4>
                <p class="counter" data-to="86" data-speed="5000">86</p>

            </div><!-- /.counter-item -->

            <div class="col-sm-3 col-xs-6 counter-line">
                <h4 class="small-title">Fikir</h4>
                <p class="counter" zero_to="999" data-speed="5000">∞</p>
            </div><!-- /.counter-item -->

        </div>

    </div>

</section><!-- /.section-counters -->