
<section class="site-section-small section-clients">

    <div class="container">

        <h3 class="section-title text-center mb-120">Takım Arkadaşlarımız Ne Diyor?</h3>

        <div class="row">

            <div class="testimonials">

                <div class="col-md-6">

                    <div class="testimonial">
                        <div class="testimonial-content testimonial-1">
                            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="testimonial-owner">
                                <p>Jennifer Frank</p>
                                <p class="yellow-text italic-text">Owner of Company</p>
                            </div><!-- /.testimonial-owner -->
                        </div><!-- /.testimonial-content -->
                    </div><!-- /.testimonial -->

                </div>

                <div class="col-md-6">

                    <div class="testimonial">
                        <div class="testimonial-content testimonial-2">
                            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="testimonial-owner">
                                <p>Frank Dawson</p>
                                <p class="yellow-text italic-text">Owner of Company</p>
                            </div><!-- /.testimonial-owner -->
                        </div><!-- /.testimonial-content -->
                    </div><!-- /.testimonial -->

                </div>

                <div class="col-md-6">

                    <div class="testimonial">
                        <div class="testimonial-content testimonial-1">
                            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="testimonial-owner">
                                <p>Linda Smith</p>
                                <p class="yellow-text italic-text">Owner of Company</p>
                            </div><!-- /.testimonial-owner -->
                        </div><!-- /.testimonial-content -->
                    </div><!-- /.testimonial -->

                </div>

                <div class="col-md-6">

                    <div class="testimonial">
                        <div class="testimonial-content testimonial-2">
                            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="testimonial-owner">
                                <p>John Dawson</p>
                                <p class="yellow-text italic-text">Owner of Company</p>
                            </div><!-- /.testimonial-owner -->
                        </div><!-- /.testimonial-content -->
                    </div><!-- /.testimonial -->

                </div>

                <div class="col-md-6">

                    <div class="testimonial">
                        <div class="testimonial-content testimonial-1">
                            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="testimonial-owner">
                                <p>Jane Smith</p>
                                <p class="yellow-text italic-text">Owner of Company</p>
                            </div><!-- /.testimonial-owner -->
                        </div><!-- /.testimonial-content -->
                    </div><!-- /.testimonial -->

                </div>

                <div class="col-md-6">

                    <div class="testimonial">
                        <div class="testimonial-content testimonial-2">
                            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                            <div class="testimonial-owner">
                                <p>Matt Ryan</p>
                                <p class="yellow-text italic-text">Owner of Company</p>
                            </div><!-- /.testimonial-owner -->
                        </div><!-- /.testimonial-content -->
                    </div><!-- /.testimonial -->

                </div>

            </div><!-- /.testimonials -->

        </div>

    </div>

</section><!-- /.section-clients -->
