<section class="site-section section-works text-center">

    <div class="container">

        <h2 class="section-title">Neler mi yapıyoruz?</h2>
        <p class="section-text">Yaşam Takımları olarak liderlik kampları,Yaşam Takımı Seminerleri(YTS), takım buluşmaları gibi birçok etkinlik organize ediyoruz<br>Bunların tek amacı daha iyi yaşamak;dostluk,arkadaşlık ve liderlik ile.</p>

        <div class="multi-item-controls">
            <a class="left btn carousel-control" href="#threeSlidesSlider" data-slide="next"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a class="right btn carousel-control" href="#threeSlidesSlider" data-slide="prev"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div><!-- /.multi-item-controls -->

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                <div class="carousel three-slides-slider multi-item-carousel slide" id="threeSlidesSlider">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-6 col-sm-4">
                                <img src="../yasamtakimlari/assets/img/slider-1.jpeg" alt="" class="img-carousel">
                            </div>
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="col-xs-6 col-sm-4">
                                <img src="../yasamtakimlari/assets/img/slider-2.jpeg" alt="" class="img-carousel">
                            </div>
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="col-xs-6 col-sm-4">
                                <img src="../yasamtakimlari/assets/img/slider-3.jpeg" alt="" class="img-carousel">
                            </div>
                        </div><!-- /.item --> <div class="item">
                            <div class="col-xs-6 col-sm-4">
                                <img src="../yasamtakimlari/assets/img/slider-4.jpeg" alt="" class="img-carousel">
                            </div>
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="col-xs-6 col-sm-4">
                                <img src="../yasamtakimlari/assets/img/slider-5.jpeg" alt="" class="img-carousel">
                            </div>
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="col-xs-6 col-sm-4">
                                <img src="../yasamtakimlari/assets/img/slider-6.jpeg" alt="" class="img-carousel">
                            </div>
                        </div><!-- /.item -->
                    </div><!-- /.carousel-inner -->
                </div><!-- /.multi-item-carousel -->

            </div>

        </div>

    </div>

</section><!-- /.section-works -->
